
.box2-obj{
    width: 48px;
    height: 48px;
    background: url('/images/member/icon-email.png') no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: 30px;
    margin-right: 15px;
}

#phone-certified{
    width: 30px;
    height: 30px;
    background: url('/images/member/icon-arrow.png') no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: 180px;
}

.certified-box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: initial;
}
.certified-box:visited {
    color: initial;
}

.bottom-text{
    margin-top: 50px;
    margin-bottom: 10vh;
}

.bottom-text>a{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    color: #16a87b;
    text-decoration: underline;
}
.bottom-text>a:visited{
    color: #16a87b;
}